# Archivo de Ejemplo para Variables de Entorno
# Copia este archivo como .env y rellena tus datos

# Credenciales de Azure AD (Tenant e ID de aplicación)
VITE_AZURE_CLIENT_ID="TU_CLIENT_ID_DE_AZURE_APP_REGISTRATION"
VITE_AZURE_TENANT_ID="common"

# URL perimetral de tu AWS API Gateway
VITE_AWS_API_GATEWAY_URL="https://TU_API_ID.execute-api.us-east-1.amazonaws.com/prod"