# Dependencias
node_modules/
.pnp
.pnp.js

# Build / Producción
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variables de entorno (¡MUY IMPORTANTE NO SUBIR ESTO A GITHUB!)
.env
.env.*
!.env.example

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?